body {
  background: rgb(88, 163, 138);
}
.li-1 {
  max-width: 250px;
  margin-left: 400px;
  border: 5px solid black;
  margin-bottom: 10px;
  list-style-type: none;
}
.img-1 {
  width: 200px;
  height: 170px;
}
